
    body {
        font-family: 'Arial', sans-serif;
        margin: 0;
        padding: 0;
        background-color: #f4f4f4;
    }

    header {
        background-color: #333;
        color: #fff;
        text-align: center;
        padding: 1em 0;
    }

    h1.animated-text {
        display: inline-block;
        animation: fadeIn 2s ease-in-out;
    }

    @keyframes fadeIn {
        0% {
            opacity: 0;
            transform: translateY(-20px);
        }

        100% {
            opacity: 1;
            transform: translateY(0);
        }
    }

    nav {
        margin-top: 10px; 
    }

    nav a {
        color: #fff;
        text-decoration: none;
        padding: 0 15px;
        font-weight: bold;
        transition: color 0.3s, background-color 0.3s;
    }

    nav a:hover {
        color: #007BFF; 
        background-color: #fff; 
        border-radius: 5px; 
    }

    section {
        max-width: 800px;
        margin: 20px auto;
        padding: 20px;
        background-color: #fff;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
        opacity: 0;
        transform: translateY(20px);
        animation: fadeInUp 1s forwards;
    }

    @keyframes fadeInUp {
        0% {
            opacity: 0;
            transform: translateY(20px);
        }

        100% {
            opacity: 1;
            transform: translateY(0);
        }
    }

    ul.animated-list {
        list-style-type: none;
        padding: 0;
    }

    ul.animated-list li {
        padding: 5px 0;
        transition: transform 0.3s;
    }

    ul.animated-list li:hover {
        transform: translateX(5px);
    }

    footer {
        text-align: center;
        padding: 1em 0;
        background-color:black;
        color: #fff;
    }

